h1{
    font-size:20px;
    margin-bottom: 15px;
}
.about{
    box-sizing: border-box;
    display: block;
    float: left;
    width: 50%;
    margin-bottom: 100px;
    font-family: 'kanit',sans-serif;
    font-size: 12px;
    height: 50px;
    line-height: 2em

}
.about a{
    text-decoration: none;
    color: black;
}
.about a:hover{
    text-decoration: underline;
}

.footnote{
    box-sizing: border-box;
    overflow: hidden;
    width: 50%;
    float: left;
    padding: 25px;
    margin-left:25%;
}
.footpage{
    position: relative;
    width:100%;
    background-color: yellow;

}
.footnote1{
    float :left;
    padding: 25px;
    width: 40%;
}
@media screen and (max-width: 580px){
    .about{
        display:block;
        width: 100%;
    }
    .footnote{
        margin-left: 0;
        width: 100%;
    }
}
