ul {
    list-style-type: none;
}
li{
    display: inline-block;
}

.topbar{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 70px;
    background-color: white;
    z-index: 1000;
}

.globalnavbar{
    background-color:#003;
    text-transform:uppercase;
    position: relative;
    width: auto;
    height: 70px;
    box-shadow: 0px 0px 1px 1px grey;
    text-align: center;
    overflow: hidden;
    min-width: 610px;
}
.navbar{
    max-width: 100%;
    min-width: 0px;
    margin: 0 auto;
    position: relative;
    height: 70px;

}
.homearea{
    height: 25px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    min-width: 0px;
    left: 10px;
}
.home{
    font-weight: bold;
    color:aquamarine;
    margin-top: 5px;
    float: left;
}

.home a{
    width: 100%;
    font-family: 'Kanit',sans-serif;
    text-decoration: none;
    color: #ff3;
    background-color: gr;
    border-radius: 20px;
    border:1px solid #ff3;
    padding: 5px;
    display: inline-block;
}

.menu{
    display: inline;
    position: relative;
    top: 18px;
    font-weight: 800;
}
.menubutton{
    position: relative;
}

.index{

}
.index a{
    text-decoration: none;
    margin: 10px;
    font-family: 'Kanit',sans-serif;
    color: white;
}
.index a:hover{
    color: #ff3;
    animation: ease;
}
.toggle-nav {
    float:right;
    margin-right:0.2em;
    position: relative;
    color: #ff3;
    font-size: 2em;
    visibility: hidden;
    margin-left: 1em;
    text-decoration: none;
    z-index: 10000;
}
.toggle-nav:hover{
    color:cadetblue;
}
.menu2{
    font-family:'kanit','sans-serif';
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top:-0.1em;
    background-color: #003;
}
.menu2 li{
    display: block;
    text-align: left;
    margin:5em;
    margin-top: 5em;
    margin-left:70px;
}
.menu2 a{
    text-decoration: none;
    font-size: 3em;
    color: #ff3;
}
@media screen and (min-width:580px){
    .menu2{
        visibility: collapse;
    }
}
@media screen and (max-width: 580px){
    .menu {
        visibility: hidden;
        width: 100%;
    }

    .globalnavbar {
        min-width: 0%;
        width: 100%;
    }
    .toggle-nav{
        visibility: visible;
    }
    .panel {
        height: 100%;
        text-align: center;
        font-size:2.5em;
        left: -10px;
    }
    .wordindex {
        margin: 0.2em;
    }

}
