.head {
    font-family: 'Kanit',sans-serif;
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
    margin-top: 25px;
}

.page {

    max-width: 1042px;
    border: 1px solid cadetblue;
    border-radius: 5px;
    display: block;
    position: static;
    margin: 0 auto;
    top: 50px;
    left: 25px;
    padding: 15px;
    background-color: white;
    padding: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
    min-width: 100px;
    box-sizing: border-box;
}
.menu a{

    text-decoration: none;

}
img {
  max-width: 100%;
  min-width: 100px;
  position: relative;

}
.excercisehead{
  text-decoration: underline;
}
