*{
    left:0px;
    margin: 0%;
    padding: 0%;
}
body {
    background-color:#ff3;
    background-attachment: fixed;
}



.mainhead{
    box-sizing: border-box;
    background:url("mainhead.jpg");
    background-position: center;
    background-attachment:scroll;
    background-size:cover;
    height: 500px;
    min-width: 25%;
    text-align: center;
    font-family: 'Kanit',sans-serif;
    font-size: 200%;
    margin: 0px;
    transition: all 0.3s ease-out;

}
.wordhead{
    background:url("wordlist.jpg");
    background-attachment: scroll;
    background-repeat: repeat-x;
    transform: scaleX(1.1);
    background-position: center;
    background-size: cover;
    height: 500px;
    transition: 0.3s ease-in-out;
}
.exhead{
    background: url("exercise.jpg");
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    margin-left:-200px;
    height: 500px;
    transition: 0.3s ease-out;
}


#synonym{
    font-size: 1.2em;
    color: #003;
    width: 50%;
    margin: 0 auto;
    position: relative;
    display:inline;
    top: 20px;
}
.selector{
    display: inline-block;
    position: relative;
    left: 0%;
    top:60px;
    width: 75%;
    background-color: #003;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.selector li{
    padding:5px;
    left: 0;
    float: left;
    transition: all 0.3s ease-in;
    background-color: #ff3;
    border: 2px solid #003;
    border-radius: 20px;
    margin-right: 30px;
    padding: 10px;
}
.selector li:hover{
    transition: all 0.1s ease-in;
    transform: scale(1.1);
}
.selector a{
    text-decoration: none;
    color: #003;
}
.meanslcthigh{
    border-radius: 20px;
    background-color: #ff3;
    border: 2px solid #003;
    transform:scale(1.3);
}
.content1{
    box-sizing: border-box;
    text-align: center;
    width:75%;
    margin: 0 auto;
    border:1px solid #003;
    border-radius: 5px;
    padding: 50px;
    margin-top: 50px;
    font-family: 'Kanit',sans-serif;
    font-size: 1.2em;
    color: #003;
    margin-bottom: 50px;
}
.content2{
    box-sizing: border-box;
    text-align: center;
    width:75%;
    margin: 0 auto;
    border:1px solid #003;
    border-radius: 5px;
    padding: 50px;
    margin-top: 50px;
    font-family: 'Kanit',sans-serif;
    font-size: 1.2em;
    color: #003;
    margin-bottom: 50px;
}
.menubar {
    text-align: center;
    margin: 5px 20px;
}

.menubar a{
    display: inline-block;
    color:#003;
    background:#ff3;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family:'Kanit',sans-serif;
    border:2px solid #003;
    border-radius: 20px;
    padding: 20px;
    margin: 40px 20px;
    transition: all 0.1s ease-in;
}
.menubar a:hover{
    transition: all 0.2s ease-in;
    transform: scale(1.1);
    color: #003;
}

.box1 {
    position: static;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    border:solid aliceBlue;
    width: 75%;
    min-width: 350px;
    margin: 0 auto;
    background-color:white;
    box-shadow: 1px 1px 1px 1px grey;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Kanit',sans-serif;
}
.high{
    text-decoration: underline;
    display: inline;
    color:#003;
    text-transform: uppercase;
    font-size: 35px;
}
@media screen and (max-width: 580px){
    .content1 {
        font-size: 1em;
        width: 90%;
    }
}
