*{
    left:0px;
    margin: 0%;
    padding: 0%;
}
body {
    background-color:#ff3;
    background-attachment: fixed;
}



.mainhead{
    background:url("wallpaper.png") no-repeat bottom center;
    background-attachment:fixed;
    background-size: cover;
    height: 500px;
    text-align: center;
    font-family: 'Kanit',sans-serif;
    font-size: 200%;
    margin: 0px;

}


#synonym{
    font-size: 45px;
    color: #ff3;
    width: 50%;
    margin: 0 auto;
    position: relative;
    display:inline;
    padding: 40px;
    top: 250px;
    border: 2px solid #ff3;
    border-radius: 20px;
    text-transform: uppercase;

}

.content1{
    box-sizing: border-box;
    text-align: center;
    width:75%;
    margin: 0 auto;
    border:1px solid #003;
    border-radius: 5px;
    padding: 50px;
    margin-top: 50px;
    font-family: 'Kanit',sans-serif;
    font-size: 1.2em;
    color: #003;
    margin-bottom: 50px;
}
.menubar {
    text-align: center;
    margin: 5px 20px;
}

.menubar a{
    display: inline-block;
    color:#003;
    background:#ff3;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family:'Kanit',sans-serif;
    border:2px solid #003;
    border-radius: 20px;
    padding: 20px;
    margin: 40px 20px;
    transition: all 0.1s ease-in;
}
.menubar a:hover{
    transform: scale(1.1);
    color: #003;
}

.box1 {
    position: static;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    border:solid aliceBlue;
    width: 75%;
    min-width: 350px;
    margin: 0 auto;
    background-color:white;
    box-shadow: 1px 1px 1px 1px grey;
    margin-bottom: 50px;
}
.high{
    text-decoration: underline;
    display: inline;
    color:#003;
    text-transform: uppercase;
    font-size: 35px;
}
@media screen and (max-width: 580px){
    .content1 {
        font-size: 1em;
        width: 90%;
    }
}
