*{
    font-family: 'Questrial',sans-serif;
}

.wlist h1 {
    padding: 60px;
    text-align: center;
    font-size: 100px;
    display:block;
    background-image:url("backgrounding.jpg");
    background-size: auto;
    background-attachment: fixed;
}
.alph{
    display: inline-block;
    border: 2px solid #003;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 50px;
}
table{
    margin-left:-12px;
    display: inline;
    border-collapse: collapse;
}
th{
    box-sizing: border-box;
    color: #ff3;
    text-transform: uppercase;
    background-color: #003;
    border: 1px solid black;
}
@media screen and (max-width: 580px){
    td:nth-child(2){
      max-width: 100px;
      overflow: hidden;
    }
}
td{
    width: 100%;
    border-bottom: 1px solid grey;
}
td:nth-child(1){
    width: 800px;
}
td:nth-child(2){
    width: 800px;

}
tr:hover{
    background-color: grey;
}
table, th, td{
    padding: 20px;

}
.list{

    padding: 10px;
    background-color: white;
    box-sizing: border-box;
}
.panel{
    text-align: center;
    min-width: 100px;
    float: left;
    width: 100%;
    top:70px;
    height: auto;
    position: fixed;
    background-color: #ff3;
    padding: 10px;
    box-shadow: 0px 0px 1px 0px;
    z-index:100;
}
.wordindex a{
    border: 2px solid #003;
    padding: 10px;
    color: #003;
    font-size: 30px;
    background: #ff3;
    border-radius: 100px;
    text-decoration: none;
    width: 100%;
}
.wordindex a:hover{
    background-color: #003;
    color: white;
}
.wordindex li:hover{
    transform: scale(1.2);
}
.wordindex li{
    margin: 15px;
    transition: all 0.2s ease-in;
}
.showBut {
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    color: white;
}
.showBut a{

    text-decoration: none;
    padding: 5px;
}

.showBut a:hover{
    color: #003;
    background-color: #ff3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.highlight1{
    color: #003;
    background-color: #ff3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
